


#all {
	MARGIN: 0px auto; WIDTH: 750px; POSITION: relative; TEXT-ALIGN: center
}
#heder {
	BORDER-RIGHT: #bebebe 1px solid; BORDER-TOP: #bebebe 1px solid; MARGIN: 6px 0px 0px; BORDER-LEFT: #bebebe 1px solid; WIDTH: auto; BORDER-BOTTOM: #bebebe 1px solid
}
TABLE#headerTable {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; border-spacing: 0
}
#headerTable TD {
	VERTICAL-ALIGN: middle; HEIGHT: 20px
}
#headerTable A {
	COLOR: #3a3a3a; TEXT-DECORATION: none
}
#headerTable A:hover {
	COLOR: #c33; TEXT-DECORATION: underline
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 9px; TEXT-ALIGN: left
}
#loginBg {
	BACKGROUND: url(/images/login/logo_hbg.jpg) no-repeat left top; POSITION: relative; TEXT-ALIGN: left
}
#logoForm {
	BACKGROUND: url(/images/login/loginbg.jpg) #fff no-repeat left top; LEFT: 18px; WIDTH: 294px; POSITION: relative; TOP: 0px; TEXT-ALIGN: left
}
#loginform {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/login/loginbg2.jpg) no-repeat left bottom; PADDING-BOTTOM: 21px; WIDTH: 294px; PADDING-TOP: 0px
}
#logoForm .loginHead {
	BACKGROUND:#CCCCCC no-repeat left top; WIDTH: 288px; HEIGHT: 28px
}
#logoForm .loginHead H6 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; MARGIN: 0px 0px 0px 19px; COLOR:#00000 ; LINE-HEIGHT: 28px
}
#logoForm .loginHead .help {
	DISPLAY: inline; FLOAT: right; MARGIN: 0px 12px 0px 0px; LINE-HEIGHT: 28px
}
#logoForm .loginHead .help A {
	COLOR:#0000FF; TEXT-DECORATION: underline
}
#login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#login A {
	COLOR: #636363; TEXT-DECORATION: underline
}
#login A:hover {
	COLOR: #c33
}
#login LI {
	DISPLAY: block; FLOAT: left; LIST-STYLE-TYPE: none
}
#login UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; WIDTH: 100%; PADDING-TOP: 0px
}
* + HTML #login UL {
	MARGIN: 0px
}
#login UL:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#login LI.th {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 67px; COLOR: #323232; PADDING-TOP: 4px; TEXT-ALIGN: right
}
#login .inp1 {
	BORDER-RIGHT: #b4b4b4 1px solid; BORDER-TOP: #b4b4b4 1px solid; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 130px; BORDER-BOTTOM: #b4b4b4 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff
}
#login .inp2 {
	BORDER-RIGHT: #b4b4b4 1px solid; BORDER-TOP: #b4b4b4 1px solid; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 130px; BORDER-BOTTOM: #b4b4b4 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff
}
#login .inp2 {
	BACKGROUND-COLOR: #fff8ed
}
#login .inp3 {
	BORDER-RIGHT: #b4b4b4 1px solid; BORDER-TOP: #b4b4b4 1px solid; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 48px; BORDER-BOTTOM: #b4b4b4 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff
}
#login .inp4 {
	BORDER-RIGHT: #b4b4b4 1px solid; BORDER-TOP: #b4b4b4 1px solid; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 48px; BORDER-BOTTOM: #b4b4b4 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff
}
#login .inp4 {
	BACKGROUND-COLOR: #fff8ed
}
#login UL SPAN {
	COLOR: #c20b00
}
#login .save {
	CLEAR: both; MARGIN: 0px 0px 0px 67px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
* + HTML #login .save {
	MARGIN: 0px 0px 0px 63px
}
#check_img1 {
	
}
#login LABEL {
	COLOR: #636363
}
#login .btnLoginArea {
	MARGIN: 7px 0px 0px 64px; TEXT-ALIGN: left
}
* + HTML #login .btnLoginArea {
	MARGIN: 7px 0px 0px 66px
}
#login .btnLoginArea .btnSubmit {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #fff; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 88px; CURSOR: pointer! important; PADDING-TOP: 0px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#login SELECT.selectMemb {
	FONT-SIZE: 12px
}
#login .findPswLink {
	MARGIN: 0px 0px 0px 9px
}
#login .findPswLink A {
	COLOR: #039; TEXT-DECORATION: underline
}
#login .findPswLink A:hover {
	COLOR: #c33
}
